/* Landing Page */
#LogoDiv ul li a {
    transition: color 0.3s ease-in-out;
}

#LogoDiv ul li a:hover{
    color: #FF8D41;
}

#LogoDiv p:hover{
    cursor: pointer;
}

#WelcomeDivButtons button{
    transition: all 0.3s ease-in-out;
}

#WelcomeDivButtons button:nth-child(1):hover{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
}

#WelcomeDivButtons button:nth-child(2):hover{
    cursor: pointer;
    background-color: #FF8D41;
    border: none;
}

/*  About Us Page*/
.SubDivButton{
    transition: all 0.3s ease-in-out;
}

.SubDivButton:hover{
    cursor: pointer;
    background-color: #FF8D41;
    color: #fff;
}

li a{
    transition: color 0.3s ease-in-out;
}

li a:hover{
    color: #FF8D41;
}

.FirstText a{
    transition: color 0.3s ease-in-out;
}

.FirstText a:hover{
    color: #FF8D41;
}