body{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}

.h1{
    font-size: 64px;
}
.h2{
    font-size: 48px;
}
.h3{
    font-size: 18px;
}
.h4{
    font-size: 16px;
}
.h5{
    font-size: 12px;
}

.GreyText{
    color: #9E9E9E;
}

.SecondGreyText{
    color: #757575;
}

#AboutSection , #RoomsSection{
    padding: 100px 0px;
}

#ServicesSection , #ReviewSection{
    padding: 100px 157px;
}

.container{
    /* max-width: 1291px; */
    padding: 32px 80px 80px 80px;
}

/* LandingPage CSS */
/* #LandingPageContainer{
    position: relative;
} */
#LandingPage{
    background-image: url("../assets/images/Home_Screen.png");
    height: 100vh;
}
 
#LogoDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

nav #LogoDiv h1{
    color: #fff;
    justify-content: flex-start;
}

nav #LogoDiv h1 span{
    color: #FF8D41;
}

nav #LogoDiv ul{
    display: flex;
    gap: 24px;
}
nav #LogoDiv ul li{
    list-style: none;
}

nav #LogoDiv ul li a{
    text-decoration: none;
    color: #fff;
}

nav #LogoDiv p{
    justify-content: flex-end;
    color: #fff;
}

/* Auto layout */
#WelcomeDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    width: 550px;
    height: 400px;
    margin-top: 15rem;
    /* position: absolute;
    left: 0%;
    bottom: 0%; */
}

#WelcomeDiv span{
    font-size: 70px;
}

#WelcomeDivButtons{
    display: flex;
    gap: 1rem;
}

#WelcomeDivButtons button:nth-child(1){
    background-color: #FF8D41;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    border: transparent;
}

#WelcomeDivButtons button:nth-child(2){
    background-color: transparent;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    border: 1px solid #fff;
}

/* AboutUs Page CSS */
.AUS , .AUSText{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
}

.AUSLine{
    border: 1px solid black;
    width: 5rem;
}

#MainDivAbout{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 100px 0px;
}

.SubDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 117px;
}

.SubDiv .SubDivImage{
    width: 524px;
    height: 360px;
}

.SubDiv .SubDivText{
    display: flex;
    flex-direction: column;
    width: 524px;
    height: 360px;
    gap: 0.5rem;
}

.SubDivText span{
    font-size: 57px;
    font-weight: 700;
}

.SubDiv .SubDivText .SubDivButton{
    color: #FF8D41;
    border: 1px solid #FF8D41;
    border-radius: 12px;
    padding: 12px 24px;
    background-color: transparent;
    max-width: fit-content;
}

.StatsScreen{
    height: 119px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FF8D41;
    color: #fff;
    width: 100%;
}

.Stats{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.StatsScreen .StatsNumber{
    font-size: 42px;
}

/* Rooms Section Style */
.Rooms{
    height: 348px;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid #EEE ;
    background-color: #FFF;
    box-shadow: 0px 6px 12px #424242;
}

.card .cardImage{
    height: 250px;
    width: 380px;
}

.card , .cardInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardInfo{
    gap: 8px;
    padding: 16px 24px;
}

.cardInfo .h3{
    letter-spacing: 0.2px;
}

.Services , .Reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1236px;
}

.Services{
    gap: 48px;
    flex-wrap: wrap;
}

.Reviews{
    gap: 6px;
}

.ServiceCard {
    height: 258px;
    max-width: 350px;
    padding: 32px 64px; 
    border: 1px solid #EEE;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0px 6px 12px #424242;
}

.ReverseServiceCard{
    height: 258px;
    max-width: 350px;
    padding: 32px 64px; 
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FF8D41;
    color: #FFF;
    box-shadow: 0px 6px 12px #424242;
}

.ServiceInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ServiceInfo img{
    height: 36px;
    width: 36px;
}

.ServiceInfoText .h3{
    font-weight: 700;
}

.ServiceInfoText , .ReviewInfo , .ReviewText , .Image_Text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Review Page section */
.ReviewCard{
    height: 218px;
    padding: 16px 24px;
    border: 1px solid #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 0px 6px 12px #424242;
    gap: 24px;
}

.Image_Text{
    gap: 18px;
}

footer{
    padding: 100px 80px;
}

footer .footerContainer{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

footer .h2{
    font-weight: 900;
}

footer .First{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}

footer li{
    list-style-type: none;
}

footer li a{
    text-decoration: none;
    color: #9E9E9E;
}

footer .Quick_Links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: fit-content;
}