body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

.container{
    height: 100%;
    width: 100%;
}

#LandingPage{
    background-image: url("../assets/images/Home_Screen.png");
    height: 100vh;
}

nav , #WelcomeDiv{
    padding: 50px 80px 80px 80px;
}

#LogoDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

nav #LogoDiv h1{
    color: #fff;
    justify-content: flex-start;
}

nav #LogoDiv h1 span{
    color: #FF8D41;
}

nav #LogoDiv ul{
    display: flex;
    gap: 24px;
}
nav #LogoDiv ul li{
    list-style: none;
}

nav #LogoDiv ul li a{
    text-decoration: none;
    color: #fff;
}

nav #LogoDiv p{
    justify-content: flex-end;
    color: #fff;
}

/* Auto layout */
#WelcomeDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    width: 550px;
    height: 720px;
    margin-top: 3rem;
}

#WelcomeDiv span{
    font-size: 70px;
}

#WelcomeDivButtons{
    display: flex;
    gap: 1rem;
}

#WelcomeDivButtons button:nth-child(1){
    background-color: #FF8D41;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    border: transparent;
}

#WelcomeDivButtons button:nth-child(2){
    background-color: transparent;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    border: 1px solid #fff;
}
